{% extends 'book/base.html' %}

{% block content %}
<p>{{ message }}</p>

<!-- 書籍の情報の表示 -->
<h1>{{ book.title }}</h1>
<p class="lead">￥{{ book.created_at }} - {{ book.price }}</p>
<p>{{ book.description | linebreaksbr }}<p>

<!-- 購入ボタン・フォームの作成 -->
{% if user.is_authenticated %}
<form action="" method="POST">
  <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="{{ public_key }}"
      data-amount="{{ book.price }}"
      data-name="book store"
      data-description="{{ book.title }}"
      data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
      data-locale="ja"
      data-currency="jpy"
      data-email="{{ user.email }}">
  </script>
  {% csrf_token %}
</form>
{% endif %}

{% endblock %}